.second{
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: White;
    font-family: 'Lato';
    background-image: linear-gradient(to right, rgb(24, 81, 134) , rgb(123, 215, 243));
}

.first{
    padding-top: 25px;
    padding-bottom: 50px;
    height: auto;
    color: black;
    font-family: 'Lato';
    background-color: white;
}

.maintext{
    padding-left: 260px;
    padding-right: 260px;
    text-align: center;
    margin-top: 80px;
    font-size: 2.5em;
}

.parag{
    font-size: 1.3em;
    padding-left: 50px;
    padding-right: 50px;
    word-spacing: 3px;
    width: auto;
}


