*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.examContainer{
  


  width: 97%;
  
  padding:10px 10px;
}
.greenShade{
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}
.greyShade{
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}
.orangeShade{
  background-color: #f5d020;
background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}
.blueShade{
  background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);

}